{{left_sidebar_enabled=False}}

{{extend 'layout0.html'}}



<div id="index" align="center">
{{=formlogin.custom.begin}}
<table>
<tr>
<td valign="top">
<a href="http://www.mydentalplan.in">
 <img src="../static/images/logo_my_dental_plan.png" align="left">
</a>
</td>
</tr>

<tr>
<td>
Username
</td>
<td>
{{=formlogin.custom.widget.username}}
</td>
</tr>
<tr>
<td>
Password
</td>
<td>
{{=formlogin.custom.widget.password}}
</td>
</tr>
</table>
<div style="display:none">
{{=formlogin.custom.submit}}
</div>
{{=formlogin.custom.end}}

<button class="form_details_button" type="submit"  onclick="javascript:login()">Login</button> 
<div>

<script>
function login(){
  <!--alert("Enteer login");-->
  var y = document.getElementById("no_table_username").value;
  var z = document.getElementById("no_table_password").value;
  
  <!--alert(y + " " + z)-->
  
  window.location.replace("/my_dentalplan/default/user_login/" + y + "/" + z)
   

}



</script>


