<!DOCTYPE html>
<html lang="en">
<head>
  <title>Mydentalplan</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
 <link href="../static/assets.css/bootstrap-responsive.min.css" rel="stylesheet" />
  <link href="../static/assets/css/styles.css" rel="stylesheet" />
  <link href="../static/css/web2py.css" rel="stylesheet" />
  <link href="../static/css/web2py_bootstrap.css" rel="stylesheet" />
  <link href="../static/css/font-awesome.css" rel="stylesheet" />
  
    
   {{include 'web2py_ajax.html'}}     
  <style>
  label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 20px;
}
  </style>
</head>
<body>
  
  
<div class="container">
 <div class="row">
 <div class="col-md-4">
 <img src="https://www.mydentalplan.us/my_dentalplan/static/assets/img/logo-my-dental-plan_color.png" class="img-responsive">
 </div>
 <div class="col-md-8">
 </div>
 </div>
</div>
<br />
<br />
 <br />
  <br />
   <br />

<div class="container">
 <div class="row">
 <div class="col-md-2">

 </div>
 <div class="col-md-12">

 
 
 <div class="w3-container w3-padding-16">
 {{=formA}}
 </div>

</body>
</html>

