<!DOCTYPE html>
<html lang="en">
<head>
  <title>Dental Case Sheet</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<style>
.title{border-bottom: 1px solid rgb(39, 169, 227);
    background: rgb(39, 169, 227);
    margin: 0px 0px 16px 0px;
    padding: 12px 20px;color:#fff;}
    .form-control{border-radius:0px !important}
       label{color: #27a9e3;} 
       .cont{    border: 1px solid #95d1ec;
    padding: 27px 20px;
    margin: 20px;}
    .np{padding:0px;}

    @media only screen and (max-width: 500px) and (min-width: 300px)  {

    .ct{width:90% !important; margin:0px auto !important;}   
    }
   
</style>
<div class="row">
  <div class="col-sm-12" style="border-bottom: 1px solid #eee;">
      <div class="container ct" style="width:40%; margin:0px auto;">
      <h1> <img src="https://www.mydentalplan.us/my_dentalplan/static/assets/img/logo-my-dental-plan_color.png" class="img-responsive"></h1>
    </div>
  </div>
</div>
  
<div class="container ct" style="width:40%; margin:0px auto;">
  <div class="row">
    <div class="col-sm-12" style="margin-top: 20px; border: 1px solid #27a9e3; padding: 0px;">
      <h3 class="title"><center>Registration Sucessfull!!</center></h3>
         <div class="col-sm-12">
              <p style="font-size: 17px;"><b>Dear {{=fname}} {{=lname}},</b><br>
We thank you for registering with us for Dental Check-up.<br>
<b>My Dental Plan Helthcare Pvt Ltd is a Guinness World Record Holder Company Offering a Unique Dental Plan the FIRST of its kind in India.</b><br><br>

You will receive the information about the date and time for the Dental check-up through SMS / Email shortly.
</p>
        </div>


        
        


        

        </div>

        


    </div>
    
  </div>
</div>

</body>
</html>
