{{extend 'layoutenroll2.html'}}

 
 <div class="w3-container w3-padding-16">
 <header class="w3-container w3-dark-grey ">
   <h4>Policy Renewal Online Payment Details</h4>
</header>


    <table id="creditcardpayment">

        <tr>
        <td class="form_details"></td>
        <td class="form_details"></td>
        <td ><input type="text" class="w3-hide" name="txno" id="txno"  value={{=txno}} /></td>
        </tr>
    
        <tr>
        <td class="form_details">Receipt Number:</td>
        <td>&nbsp;&nbsp;</td>
        <td class="form_details"><input readonly type="text" name="txno" id="txno"  value={{=txno}} /></td>
        </tr>
        
        <tr>
        <td class="form_details">Receipt Date:</td>
        <td>&nbsp;&nbsp;</td>
        <td class="form_details"><input readonly type="text" name="txdatetime" id="txdatetime"  value={{=txdatetime}} /></td>
        </tr>
    
        <tr>
        <td class="form_details">Member:</td>
        <td>&nbsp;&nbsp;</td>
        <td class="form_details"><input readonly type="text" name="member" id="member" value="{{=member}}"/></td>
        </tr>

        <tr>
        <td class="form_details">Payment:</td>
        <td>&nbsp;&nbsp;</td>
        <td class="form_details"><input readonly type="text" name="totpremium" id="totpremium"  value={{=totpremium}} /></td>
        </tr>
    
        <tr>
        <td class="form_details">Company Pays: </td>    
        <td>&nbsp;&nbsp;</td>
        <td class="form_details"><input readonly type="text" name="totcompanypays" id="totcompanypays"   value={{=totcompanypays}} /></td></tr>

        <tr>
        <td class="form_details">Member Pays(A):</td>    
        <td>&nbsp;&nbsp;</td>
        <td class="form_details"><input readonly type="text" name="totyoupay" id="totyoupay"   value={{=totyoupay}} /></td>
        </tr>
        
        <tr>
        <td class="form_details">GST @18%(B):</td>    
        <td>&nbsp;&nbsp;</td>
        <td class="form_details"><input readonly type="text" name="servicetax" id="servicetax"  value={{=servicetax}} /></td>
        </tr>
        
        <tr>
        <td class="form_details">Swipe Charges(C):</td>    
        <td>&nbsp;&nbsp;</td>
        <td class="form_details"><input readonly type="text" name="swipecharge" id="swipecharge"  value={{=swipecharge}} /></td>
        </tr>
        
        <tr>
        <td class="form_details">Amount Paid by Member(A+B+C):</td>    
        <td>&nbsp;&nbsp;</td>
        <td class="form_details"><input readonly type="text" name="total" id="total"  value={{=total}} /></td>
        </tr>
        
        <tr>
        <td class="form_details">Payment Details:</td>    
        <td>&nbsp;&nbsp;</td>
        <td class="form_details"><textarea name="paymentdetails" id="paymentdetails" rows="5" cols="50" placeholder="Enter Payment Details">{{=paymentdetails}}</textarea></td>
        </tr>
    
    </table>
    <input  id="paybycc"    type="button" class="form_details_button_18" onclick="window.location='/my_dentalplan/policyrenewal/payby_cc/{{=paymenttxlog}}?page={{=page}}';return false" value="Pay Online and Renew">
</div>
