{{extend 'mdp_layoutw3.html'}}

<script>






$(document).ready(function(){
   
    $("#procedures").change(function(){
       var x = $('#procedures').val();
       var y = $('#procedures :selected').text();
       var z = $('#procedures :selected').index();
       var procs=x.split("|")
       
       $("#copay_dentalprocedure").val(procs[0]);
       $("#copay_shortdescription").val(procs[1]);
       $("#copay_procedurefee").val(procs[2]);
       $("#copay_procedureucrfee").val(procs[2]);
       
       
      
    });
});
</script>



<div class="w3-main" style="margin-left:300px;margin-top:10px;">

<header class="w3-container w3-dark-grey ">
   <h4>Copay Details</h4>
</header> 
{{=formA.custom.begin}}
    <table>
   
         <tr>

	    <td class="form_details">
		HMO Plan
	    </td>
	    <td class="form_details">
		{{=formA.custom.widget.hmoplan}}       
	     </td>         
         
         <tr>
	 
	    <td class="form_details">
		Region
	    </td>
	    <td class="form_details">
		{{=formA.custom.widget.region}}       
	     </td>         
	 
           <tr>
            <td class="form_details " >
                Procedure
            </td>
            <td class="form_details " >
              <select class="form_details" id="procedures">
                {{ for i in xrange(0, len(ds)): }}
                  {{if (ds[i].id == procedureid):}}
                    <option  selected="selected" value="{{=ds[i].id}}|{{=ds[i].shortdescription}}|{{=ds[i].procedurefee}}">{{=ds[i].dentalprocedure}}</option>
                  {{else:}}
		    <option  value="{{=ds[i].id}}|{{=ds[i].shortdescription}}|{{=ds[i].procedurefee}}">{{=ds[i].dentalprocedure}}</option>
		    
                  {{pass}}
                {{pass}}
                </select>
            </td>
	</tr>
	 
	 
        <tr>
	    <td class="form_details" type="hidden" style="display:none;">
		Procedure
	    </td>
	    <td class="form_details" type="hidden" style="display:none;">
		{{=formA.custom.widget.dentalprocedure}}
	     </td>         
         </tr>  
        <tr>
	    <td class="form_details">
		Procedure Description
	    </td>
	    <td class="form_details" >
		{{=formA.custom.widget.shortdescription}}
	     </td>         
         </tr>            
        <tr>
	    <td class="form_details">
		UCR Fee
	    </td>
	    <td class="form_details" >
		{{=formA.custom.widget.procedureucrfee}}
	     </td>         
         </tr>            
	 
        <tr>
	    <td class="form_details">
		Procedure Fee
	    </td>
	    <td class="form_details">
		{{=formA.custom.widget.procedurefee}}
	     </td>         
         </tr>            
          
         <tr>
	    <td class="form_details">
		Copay
	    </td>
	    <td class="form_details">
		{{=formA.custom.widget.copay}}       
	     </td>         
         </tr>            
         
    </table>
    {{=formA.custom.submit}}
    <button class="form_details_button" onclick="window.location='{{=URL('plan','update_plan',args=[planid])}}';return false">Return</button>
    

  {{=formA.custom.end}}  
</div>