{{extend 'layout.html'}}


<script>
$(document).ready(function(){
   
    $("#relations").change(function(){
       var x = $('#relations').val();
       var y = $('#relations :selected').text();
       var z = $('#relations :selected').index();
       
       
       
       $("#patientmemberdependants_relation").val(x);
       
       $("#text1").text(x); 
       $("#text2").text(y); 
       $("#text3").text(z); 
      
    });
});
</script>

<div>
<h6>{{=A(T('<< Home'),_href=URL('default','index'))}}</h6><h6>{{=A(T('<< Back'),_href=URL('member','list_member'))}}</h6>

{{=formA.custom.begin}}

   
    <table>
         <caption style="text-align:left"><h4>{{=formheader}} for {{=fname}}&nbsp;{{=lname}}&nbsp</h4></caption>
        <tr>
            <td class="form_details "  >
                Dependant Order
            </td>
            <td>
                                 {{=formA.custom.widget.memberorder}}
            </td>
         </tr> 
         
        <tr>
            <td class="form_details "  class="form_details " >
                First Name
            </td>
            <td class="form_details " >
                                 {{=formA.custom.widget.fname}}
            </td>
         </tr> 
        <tr>
            <td class="form_details " >
                Middle Name
            </td>
            <td class="form_details " >
                                 {{=formA.custom.widget.mname}}
            </td>
         </tr> 
         
        <tr>
            <td class="form_details " >
                Last Name
            </td>
            <td class="form_details " >
                                 {{=formA.custom.widget.lname}}
            </td>
         </tr>            
        <tr>
            <td class="form_details " >
                DOB
            </td>
            <td class="form_details " >
                    {{=formA.custom.widget.depdob}}
                                
            </td>
         </tr>            
        <tr>
            <td class="form_details " >
                Gender
            </td>
            <td class="form_details " >
                                 {{=formA.custom.widget.gender}}
            </td>
         </tr>            

        <tr>
            <td class="form_details " >
                Relation
            </td>
            <td class="form_details " >
             
		   
		<select id="relations">
                {{ for i in xrange(0, len(relations)): }}
		    <option value={{=relations[i].relation}}>{{=relations[i].relation}}</option>
                {{pass}}
                </select>	
            </td>
         </tr>  
        <tr>
            <td class="form_details " type="hidden" style="display:none;">
                Relation
            </td>
            <td class="form_details " type="hidden" style="display:none;">
             
		    {{=formA.custom.widget.relation}}
            </td>
         </tr>         
        <tr>
            <td class="form_details " >
                Patient
            </td>
            <td class="form_details " >
                                 {{=formA.custom.widget.patientmember}}
            </td>
         </tr>            

    
    </table>
    {{=formA.custom.submit}}
    <button class="form_details_button" onclick="window.location='/my_dentalplan/member/update_member/{{=memberid}}';return false">Cancel</button>&nbsp;&nbsp;
{{=formA.custom.end}}
</div>


