{{extend 'layout.html'}}
<table>
<caption style="text-align:left"><h3>Provider List</h3>
<tr>
<td>

   
    <ul>
    {{ for i in xrange(0, len(ds)): }}
      <li>
        <a href="/my_dentalplan/member/add_webmember_provider/{{=ds[i].id}}/{{=webmemberid}}/{{=companyid}}/{{=companycode}}/{{=companyname}}">
            {{=ds[i].provider}} {{=ds[i].providername}}, {{=ds[i].address1}},{{=ds[i].address2}},{{=ds[i].city}},{{=ds[i].pin}}
        </a>
      </li>
    {{pass}}
    </ul>
  
</td>
</tr>
</table>