{{extend 'mdp_layoutw3.html'}}



<script>

function newDependant()
{
    document.getElementById('action').value  = 'adddependant'
}

function proceedEnrollment()
{
    document.getElementById('action').value  = 'enrollment'
}


function uploadmyphoto()
{
    document.getElementById('action').value  = 'addphoto'
}

function makepayment()
{
    document.getElementById('action').value  = 'makepayment'
}

$(document).ready(function(){
   
    $("#plans").change(function(){
       var x = $('#plans').val();
       var y = $('#plans :selected').text();
       var z = $('#plans :selected').index();
 
       $("#webmember_hmoplan").val(x);
       
       $("#text1").text(x); 
       $("#text2").text(y); 
       $("#text3").text(z); 
      
    });
});

$(document).ready(function(){
    $("#web_enrollment").click(function(){
       $("#provider_sitekey").val("random_key");

     
    });
});

$(document).ready(function(){
   
    $("#providers").change(function(){
       var x = $('#providers').val();
       var y = $('#providers :selected').text();
       var z = $('#providers :selected').index();
       
       $("#providername").text(z) 
       
       $("#webmember_provider").val(x);
       
       $("#text1").text(x); 
       $("#text2").text(y); 
       $("#text3").text(z); 
      
    });
});

$(document).ready(function(){
   
    $("#provider").change(function(){
       var x = $('#provider').val();
       var y = $('#provider :selected').text();
       var z = $('#provider :selected').index();
       
       $("#text1").text(x); 
       $("#text2").text(y); 
       $("#text3").text(z); 
       
       
       
      
    });
});


function changeRegions(){
var regionopts = document.getElementById("regions");
var region = regionopts.options[regionopts.selectedIndex].value;
var x = document.getElementById("webmember_groupregion");
    x.value = region;
   
    ajax('{{=URL('member','plans')}}', ['groupregion','company'], 'plansdiv');
    
var y = document.getElementById("webmember_hmoplan");

    y.value = 1;    
    
premiumpayment = document.getElementById("premiumpayment");
premiumpayment.style="display:none";
   
};

function changePlans(){
var planopts = document.getElementById("plans");
var plan = planopts.options[planopts.selectedIndex].value;

var y = document.getElementById("webmember_hmoplan");

    y.value = plan;

   
};
</script>


<form  method="post" name="frmWebMember" id="frmWebMember">
{{=formA.custom.begin}}


<div class="w3-container w3-hide">
{{=formA.custom.widget.groupregion}}  
{{=formA.custom.widget.hmoplan}}   
{{=formA.custom.widget.startdate}}   

</div>   
 
 
 <div class="w3-container w3-padding-16">
 <header class="w3-container w3-dark-grey ">
   <h4>{{=formheader}}</h4>
</header>
<br/>

 <header class="w3-container w3-dark-grey ">
 <h5>Details</h5>
 </header>
<table>
  <tr>
       <td class="form_details">
	   Member ID
       </td>
       <td class="form_details">
	{{=formA.custom.widget.webmember}}       
	</td>
    </tr> 
  <tr>
       <td class="form_details">
	   Employee ID
       </td>
       <td class="form_details">
	{{=formA.custom.widget.groupref}}       
	</td>
    </tr> 
    
<tr>
  
       <td class="form_details">
	   Webkey
       </td>
       <td class="form_details">
	{{=formA.custom.widget.webkey}}       
	</td>
    </tr> 
  <tr>
       <td class="form_details">
	  Status
       </td>
       <td class="form_details">
	{{=formA.custom.widget.status}}       
	</td>
    </tr>     
           <tr>
            <td class="form_details " >
                Provider
            </td>
            <td class="form_details " >
              <select  class="form_details " id="providers">
                {{ for i in xrange(0, len(ds)): }}
                  {{if (ds[i].id == providerid):}}
		  {{provid = int(ds[i].id)}}
		  {{provcnt = 0}}
		  {{for j in xrange(0,len(dsprovs)):}}
		  {{if(dsprovs[j][0] == provid):}}
		  {{provcnt = int(dsprovs[j][1])}}
		  {{pass}}
		  {{pass}}
                    <option selected="selected" value={{=ds[i].id}}>{{=ds[i].provider}}{{if((ds[i].providername != '')&(ds[i].providername != ' ')):}}|{{=ds[i].providername}} {{pass}} {{if(ds[i].city != ''):}} |  {{=ds[i].city}} {{pass}} {{if (ds[i].pin != ''):}} | {{=ds[i].pin}} {{pass}}  {{if(provid != 1):}}| {{=provcnt}}{{pass}}</option>
                  {{else:}}
		  {{provid = ds[i].id}}
		  {{provcnt = int(dsprovs[i][1])}}
                  <option value={{=ds[i].id}}>{{=ds[i].provider}}{{if((ds[i].providername != '')&(ds[i].providername != ' ')):}}|{{=ds[i].providername}} {{pass}} {{if(ds[i].city != ''):}} |  {{=ds[i].city}} {{pass}} {{if (ds[i].pin != ''):}} | {{=ds[i].pin}}  {{pass}} {{if(provid != 1):}}| {{=provcnt}}{{pass}}</option>
                  {{pass}}
                {{pass}}
                </select>
            </td>
	    </tr>
	    <tr>
            <td class="form_details " >
            </td>
            <td type="hidden" style="display:none;">
		    {{=formA.custom.widget.provider}}
            </td>
         </tr>         
  <tr>
       <td class="form_details">
	   Company
       </td>
       <td class="form_details">
	{{=formA.custom.widget.company}}       
	</td>
    </tr> 
       
    <tr>
       <td class="form_details">
	   Region
       </td>
       <td class="form_details">
	     <select class="form_details " id="regions" onchange="changeRegions()">
		    {{ for region in regions: }}
			{{if (region.id == regionid):}}
			  <option selected="selected" value={{=region.id}}>{{=region.region}}({{=region.groupregion}})</option>
			{{else:}}
			<option value={{=region.id}}>{{=region.region}}({{=region.groupregion}})</option>
			{{pass}}
		    {{pass}}
                </select>         
	     
	</td>
     </tr> 
    
      <tr>
       <td class="form_details">
	   Plan
       </td>
     
    <td class="form_details " >
<div id='plansdiv'>

		<select class="form_details " id="plans" onchange="changePlans()">
		    <option value='1'>--Select--</option>
	    
		    {{for plan in plans:}}
			{{if (plan.id == planid):}}
			  <option selected="selected" value={{=plan.id}}>{{=plan.name}} ({{=plan.hmoplancode}})</option>
			{{else:}}
			<option value={{=plan.id}}>{{=plan.name}} ({{=plan.hmoplancode}})</option>
			{{pass}}
		    {{pass}}				  
		</select>
		
		
	    </div>    
             
	</td>
       
    </tr>     

    <tr type="hidden" style="display:none;">
       <td class="form_details" type="hidden" style="display:none;">
       Plan
       </td>
       
       <td class="form_details" type="hidden" style="display:none;">
	 
	</td>
    </tr>     

  
  

  <tr>
            <td class="form_details " >
                Web Enrollment Date
            </td>
            <td class="form_details " >
                                 {{=formA.custom.widget.webenrolldate}}
            </td>
    </tr>
    <tr>
            <td class="form_details " >
                Web Enrollment Complete Date
            </td>
            <td class="form_details " >
                                 {{=formA.custom.widget.webenrollcompletedate}}
            </td>
         </tr>           
    <tr>
            <td class="form_details " >
                Premium Paid
            </td>
            <td class="form_details " >
                                 {{=formA.custom.widget.paid}}
            </td>
         </tr>           
    <tr>
            <td class="form_details " >
                Upgraded
            </td>
            <td class="form_details " >
                                 {{=formA.custom.widget.upgraded}}
            </td>
         </tr>           
</table>


</br>

 <header class="w3-container w3-dark-grey ">
 <h5 >Personal Details</h5>
 </header>
 

<table>
  <tr>
       <td class="form_details ">
	   Enter your First Name <span style="color:red">*</span>
       </td>
       <td class="form_details ">
	{{=formA.custom.widget.fname}}       
	</td>
    </tr> 
  <tr>
       <td class="form_details ">
	   Enter your Middle Name
       </td>
       <td class="form_details ">
	{{=formA.custom.widget.mname}}       
	</td>
    </tr> 
  <tr>
       <td class="form_details ">
	  Enter your Last Name <span style="color:red">*</span>
       </td>
       <td class="form_details ">
	{{=formA.custom.widget.lname}}       
	</td>
    </tr> 
  <tr>
       <td class="form_details ">
       Enter your DOB
       </td>
       <td class="form_details ">
	{{=formA.custom.widget.webdob}}       
	</td>
    </tr> 
  <tr>
       <td class="form_details ">
	   Please select your Gender
       </td>
       <td class="form_details ">
	{{=formA.custom.widget.gender}}       
	</td>
    </tr> 
  <tr>
            <td class="form_details " >
                Enter your PAN#
            </td>
            <td  class="form_details " colspan="3">
                                 {{=formA.custom.widget.webpan}}
            </td>
         </tr>   

</table>
</br>


 <header class="w3-container w3-dark-grey ">
  <h5 >Contact Details</h5>
 </header>
 
<table>
  <tr>
       <td class="form_details ">
	   Enter your Mobile Number <span style="color:red">*</span>
       </td>
       <td class="form_details ">
	{{=formA.custom.widget.cell}}       
	</td>
    </tr> 
  <tr>
       <td class="form_details "> 
	   Enter your Telephone Number
       </td>
       <td class="form_details ">
	{{=formA.custom.widget.telephone}}       
	</td>
    </tr> 
  <tr>
       <td class="form_details ">
	   Enter your Email <span style="color:red">*</span>
       </td>
       <td class="form_details ">
	{{=formA.custom.widget.email}}       
	</td>
    </tr> 
  <tr>
       <td class="form_details ">
	   Enter your Address -1 <span style="color:red">*</span>
       </td>
       <td class="form_details ">
	{{=formA.custom.widget.address1}}       
	</td>
    </tr> 
  <tr>
       <td class="form_details ">
	   Enter your Address -2 <span style="color:red">*</span>
       </td>
       <td class="form_details ">
	{{=formA.custom.widget.address2}}       
	</td>
    </tr> 
  <tr>
       <td class="form_details ">
	   Enter your Address -3
       </td>
       <td class="form_details ">
	{{=formA.custom.widget.address3}}       
	</td>
    </tr> 
  <tr>
       <td class="form_details ">
	   Enter your City <span style="color:red">*</span>
       </td>
       <td class="form_details ">
	{{=formA.custom.widget.city}}       
	</td>
    </tr> 
  <tr>
       <td class="form_details ">
	   Please select your State <span style="color:red">*</span>
       </td>
       <td class="form_details ">
	{{=formA.custom.widget.st}}       
	</td>
    </tr> 
  <tr>
       <td class="form_details ">
	   Enter your Pin <span style="color:red">*</span>
       </td>
       <td class="form_details ">
	{{=formA.custom.widget.pin}}       
	</td>
    </tr> 
  

</table>

 
</br>

 <header class="w3-container w3-dark-grey ">
 <h5 >Area Dentist Choices</h5>
 </header>

<table>
  <tr>
       <td class="form_details ">
	   Area of dentist choice 1 (pincode)
       </td>
       <td class="form_details ">
	{{=formA.custom.widget.pin1}}       
	</td>
    </tr> 
  <tr>
       <td class="form_details ">
	   Area of dentist choice 2 (pincode) 
       </td>
       <td class="form_details ">
	{{=formA.custom.widget.pin2}}       
	</td>
    </tr> 
  <tr>
       <td class="form_details ">
	   Area of dentist choice 3 (pincode)
       </td>
       <td class="form_details ">
	{{=formA.custom.widget.pin3}}       
	</td>
    </tr> 
  

</table>

<header class="w3-container w3-dark-grey ">
 <h5 >Passport size Photo</h5>
 </header>
 <table>
     
       <tr>
            <td>
                {{if ((rows[0]['webmember.image'] != "")  &  (rows[0]['webmember.image'] != None)):  }}
                   <img src="{{=URL('my_dentalplan', 'member', 'download', args=rows[0]['webmember.image'] )}}" style="width:150px" />

                {{else:}}
                       No Image&nbsp;
                {{pass}}


            </td>
         </tr>
       <tr>

            <td>
		<input type="submit" method="POST" class="form_details_button" onclick="javascript: uploadmyphoto()" value="Select your Photo">
            </td>
         </tr>
    </table>
    
<header class="w3-container w3-dark-grey ">
 <h5> Dependents</h5>
 </header>

    <table>
        
<tr>
            <td colspan="4">
                <table>
                    
                <tr>
                <td >
		{{if(relations == 0):}}
	        <h5>Your Dental Plan does not allow you to add dependants to your account</h5>
	        <h5>Please contact your company's HR/Administration Department or <a href="http://www.mydentalplan.in">MyDentalPlan</a> for more details.</h5>
		{{else:}}
		{{if(subscribers < maxsubscribers):}}
                <input class="form_details_button" type="submit" method="POST" onclick="javascript: newDependant()" value="Add Dependant">
		{{pass}}
		{{if(subscribers>maxsubscribers):}}
		<h5>You have more dependants {{=(int(subscribers)-1)}} than allowed by your company {{=(int(maxsubscribers)-1)}}. Please delete additional dependants.
		{{pass}}
		{{pass}}                
		</td>
                </tr>
                <tr>
                <td>
                {{=formB}}
                </td>
                </tr>    
                </table>
            </td>
         </tr>            
    
    </table>
    {{=formA.custom.submit}}

    <button class="form_details_button" onclick="window.location='{{=URL('member','list_webmember',vars=dict(page=page))}}';return false">Return</button>&nbsp;&nbsp;

    
    {{if( (showenrollment == True)):}}
	<input type="submit"  method="POST" class="form_details_button" onclick="javascript: proceedEnrollment()" value="Enroll Member"> 
    {{else:}}
    {{if((planid == 1) | (planid == None) | (planid == '')):}}
	<button id="premiumpayment" class="form_details_button" style="display:none" onclick="window.location='{{=URL('member','new_webmember_premiumpayment',args=[webmemberid],vars=dict(page=page))}}';return false">Premium Payment</button>&nbsp;&nbsp;
    {{else:}}
	<button id="premiumpayment" class="form_details_button" onclick="window.location='{{=URL('member','new_webmember_premiumpayment',args=[webmemberid],vars=dict(page=page))}}';return false">Premium Payment</button>&nbsp;&nbsp;
    {{pass}}    
    <input type="submit"  method="POST" class="form_details_button w3-hide" onclick="javascript: makepayment()" value="Make Payment" > 
    {{pass}}    
    
    <input type="text" id="action" name="action" value="submit" type="hidden" style="display:none">

{{=formA.custom.end}}
   
</div>
</form>


