{{extend 'layout.html'}}


<script>


function validatewebkey() {
    var x, text;

    // Get the value of the input field with id="numb"
    x = document.getElementById("webkey").value;

    if(x == "")
    {
        text = "Web key cannot be empty"
    }
    document.getElementById("error").innerHTML = text;
}


function stringGen(len)
{
    var text = " ";

    var charset = "abcdefghijklmnopqrstuvwxyz0123456789";

    for( var i=0; i < len; i++ )
        text += charset.charAt(Math.floor(Math.random() * charset.length));

    return text;
}

$(document).ready(function(){
    $("#web_enrollment").click(function(){
       var randomstring = stringGen(8);
       $("#webkey").val(randomstring);
     
       <!--$("#planname").val($("#company_hmoplan").text());-->
     
    });
});
</script>

<div id="import" >
  <h6>{{=A(T('<< Home'),_href=URL('default','index'))}}</h6>
  <table>
      <caption style="text-align:left"><h4>Group Web Enrollment</h4></caption>
      
   <tr>
   <td>
   {{=request.args[2]}} ({{=request.args[1]}})
</td>
</tr>
   <tr>
   <td>
    
     
        
    {{=FORM(

       TABLE(
        TR(TD('Web Key:'),TD(INPUT(_type='text',_id='webkey',_name='webkey')),TD()),       
        TR(TD('Import File:'),TD(INPUT(_type='file',_name='csvfile')),TD(INPUT(_type='submit',_class='form_details_button',_value='Upload',_onclick='validatewebkey()'))), 
        TR(TD( INPUT(_type='hidden',_value='webmember',_name='table')),TD(),TD())
       )
       )
    }}
   </td>
   </tr>
   <tr>
   <td COLSPAN="3">
         <button class="form_details_button" onclick="window.location='/my_dentalplan/default/index';return false">Cancel</button>&nbsp;&nbsp;<button class="form_details_button" id="web_enrollment", name="web_enrollment">Generate Web Key</button>
   </td>
    </tr>
   </table>
</div>
<p id="error" style="color:red"></p>



 



     
    