
<form action="https://secure.ebs.in/pg/ma/payment/request" method="post" name="frmTransaction" id="frmTransaction">
<input name="channel" type="hidden" value="0" />  
<input name="account_id" type="hidden" value="16428" />  
<input name="reference_no" type="hidden" value="IMB001" />  
<input name="amount" type="hidden" value="12.34" />  
<input name="address" type="hidden" value="address" />  
<input name="city" type="hidden" value="Bengalaru" />  
<input name="country" type="hidden" value="IND" />  
<input name="currency" type="hidden" value="INR" />  
<input name="description" type="hidden" value="Test" />  
<input name="email" type="hidden" value="imtiazbengali@hotmail.com" />  
<input name="mode" type="hidden" value="LIVE" />  
<input name="name" type="hidden" value="Imityaz Bengali" />  
<input name="phone" type="hidden" value="9819877579" />  
<input name="postal_code" type="hidden" value="560004" />  
<input name="return_url" type="hidden" value="http://jaimini.ddns.net:8001/my_dentalplan/default/" />  
<input name="ship_name" type="hidden" value="Imtiyaz Bengali" />  
<input name="ship_address" type="hidden" value="address" /> 
<input name="ship_country" type="hidden" value="IND" />  
<input name="ship_state" type="hidden" value="Karnataka" />  
<input name="ship_city" type="hidden" value="Bengalaru" />  
<input name="ship_postal_code" type="hidden" value="560004" />  
<input name="ship_phone" type="hidden" value="9819877579" />  
<input name="state" type="hidden" value="Karnataka" />  
<input name="secure_hash" type="hidden" value="365069514dcd7cc41a5d050e69caa201"/>
<input value="Submit" type="submit"/>

