{{extend 'layoutenroll2.html'}}

<script>
function providerlist()
{
   
    window.location.replace("/my_dentalplan/provider/list_provider")


}

</script>

<div>
     
    <h3>Email Confirmation</h3><br/>
    
    {{if(ret == True):}}
    <h5>Assigned Members List sent to {{=providername}} email address!</h5>
    {{else:}}
    <h5>Error in sending Assigned Members List to {{=providername}} email address!</h5>
    {{pass}}

    <input  type="button" class="form_details_button" onclick="javascript: providerlist()" value="Return to Provider List">

</div>
