{{extend 'mdp_layoutw3.html'}}



<header class="w3-container w3-dark-grey ">
   <h4>{{=formheader}}</h4>
</header>


<h4 class="head-line"></h4>
{{=formA.custom.begin}}


<h5>Provider Bank Details</h5>
<table>
<tr>
<td class="form_details">
  Bank Name
</td>
<td class="form_details">
  {{=formA.custom.widget.bankname}}
</td>
</tr>
<tr>
<td class="form_details">
 Branch Name
</td>
<td class="form_details">
 {{=formA.custom.widget.bankbranch}}
</td>
</tr>
<tr>
<td class="form_details">
Account No
</td>
<td class="form_details">
{{=formA.custom.widget.bankaccountno}}
</td>
</tr>
<tr>
<td class="form_details">
Account Type
</td>
<td class="form_details">
{{=formA.custom.widget.bankaccounttype}}
</td>
</tr>
<tr>
<td class="form_details">
MICR No
</td>
<td class="form_details">
{{=formA.custom.widget.bankmicrno}}
</td>
</tr>
<tr>
<td class="form_details">
IFS Code
</td>
<td class="form_details">
{{=formA.custom.widget.bankifsccode}}
</td>
</tr>


</table>
<br/>
{{=formA.custom.submit}}
<button class="form_details_button" onclick="window.location='{{=URL('provider','list_provider',vars=dict(page=page))}}';return false">Return</button>&nbsp;&nbsp;






{{=formA.custom.end}}






