<!DOCTYPE html>
<html>
<head>
<title>Import Utility</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="../static/css/w3.css" />  
<link rel="stylesheet" href="../static/css/font-awesome.css" />  
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3-theme-white.css">

{{include 'web2py_ajax.html'}}   
</head>

<body>


<div class="w3-container">
<img src="../static/images/logo-my-dental-plan_color.png">
</div>
 <div class="w3-row">
  <div class="w3-col s4">&nbsp;</div>
  <div class="w3-col s4">
<div class="w3-container">
  <h2 class="w3-text-blue">New Image</h2>
   <input type="file" id="myfile" name="myfile">
   {{=form}}
  
  <br/>
  {{=error}}
 </div>

<br/>
<div class="col-xs-4 pt">
        
{{if (mediaurl != ""):  }}


    <div>{{=mediafile}}</div>
    <img  src="{{=mediaurl}}" type="image/jpg" class="img_responsive center-block" style="width:90%" />

{{else:}}
    No Image&nbsp;
{{pass}}	       
 
</div>
               
<button class="form_details_button" onclick="window.location='{{=returnurl}}';return false">Return</button>&nbsp;&nbsp;            
</div>
  
</div>  
  </div>
  
</div>
<div style="display:none">
  <div class="col-md-12">
      <div class="col-md-12">
        <div class="form-group">
          <div id="imgDiv" class="input-group">    
             {{=error}} 
             <label id='imgsize'></label>
          </div>
        </div>
       </div>
    </div>   	
    
    <div class="col-md-12">
      <div class="col-md-12">
        <div class="form-group">
          <div class="input-group">    
             <input type="file">     
          </div>
        </div>
       </div>
    </div>					    
<br/>
    <div class="col-md-12"  >
      <div class="col-md-12">
        <div class="form-group">
          <div  class="input-group">    
             {{=form.custom.widget.imagedata}}     
          </div>
        </div>
       </div>
    </div>					    
                                        
 <br/>
</div> 
 
 <script>


const input = document.querySelector('input[type="file"]')
input.addEventListener('change',function(e){
 console.log(input.files)
 if(input.files[0].size > 50000000){
    alert('${input.files[0].name} is too big! Max allowed is 50MB') 
 }
 const reader = new FileReader()
 reader.onload = function() {
    <!--x = reader.result-->
    <!--console.log(x)-->
    
    <!--y = document.getElementById("inp1")-->
    
    <!--alert("y=" + y)-->
    <!--y.value = x-->
    
    <!--const img  = new Image()-->
    <!--img.src  = reader.result-->
    
    <!--console.log(img.src)-->
    <!--y = document.getElementById("inp1")-->
    <!--y.value = img.src-->
    
    const img = new Image()
    img.onload = function(){
      console.log(img.width, img.height)
      const canvas = document.createElement('canvas',img.width,img.height)    
      const context = canvas.getContext('2d')
      context.drawImage(img,0,0)
      
      const imageData = context.getImageData(0,0,img.width,img.height)
      <!--console.log(imageData)-->
      
    
    }
    img.src = reader.result
    <!--document.body.appendChild(img)-->

    
    document.getElementById("imgDiv").appendChild(img)
    <!--console.log(img.src)-->
    
    x = img.src.split(',')
    <!--console.log(x[0])-->
    <!--console.log(x[1])-->
    
    <!--z = document.getElementById('inp1')-->
    <!--z.value = x[1]-->
    
    w = document.getElementById('no_table_imagedata')
    w.value = x[1]
    
 }

 //reader.readAsText(input.files[0])
 reader.readAsDataURL(input.files[0])
 a = document.getElementById('imgsize').innerHTML = "Image Size = " + input.files[0].size
 
},false)
</script>


</body>

<footer class="w3-container w3-blue-grey w3-border" style="text-align:right" >
   <a  href="http://www.mydentalplan.in" target="_blank">© 2015 My Dental Plan. All Rights Reserved.</a><br/><a href={{=URL('default','termsandconditions')}} target="_blank">Terms & Conditions</a>
</footer>
</html>


