{{extend 'mdp_layoutw3.html'}}



<header class="w3-container w3-dark-grey ">
   <h4>{{=formheader}}</h4>
</header>
{{=formA.custom.begin}}

<h4 class="head-line"></h4>


<header class="w3-container w3-light-grey ">
<h5>Clinic Details</h5>
</header>

<table>
<tr>
<td class="form_details">
  Clinic Ref
</td>
<td class="form_details">
  {{=formA.custom.widget.clinic_ref}}
</td>
<td class="form_details">
Clinic Name
</td>
<td class="form_details" >
 {{=formA.custom.widget.name}}
</td>
<td class="form_details">
Primary Clinic
</td>
<td class="form_details" >
 {{=formA.custom.widget.primary_clinic}}
</td>

</tr>
<tr>

<td class="form_details">
Cell
</td>
<td class="form_details">
 {{=formA.custom.widget.cell}}
</td>
<td class="form_details">
Email
</td>
<td class="form_details">
{{=formA.custom.widget.email}}
</td>
<td class="form_details">
Telephone
</td>
<td class="form_details">
{{=formA.custom.widget.telephone}}
</td>

</tr>

<tr>

<td class="form_details">
Address 1
</td>
<td class="form_details">
 {{=formA.custom.widget.address1}}
</td>
<td class="form_details">
Address 2
</td>
<td class="form_details">
 {{=formA.custom.widget.address2}}
</td>
<td class="form_details">
Address 3
</td>
<td class="form_details">
 {{=formA.custom.widget.address3}}
</td>

</tr>

<tr>

<td class="form_details">
City
</td>
<td class="form_details">
 {{=formA.custom.widget.city}}
</td>
<td class="form_details">
State
</td>
<td class="form_details">
 {{=formA.custom.widget.st}}
</td>
<td class="form_details">
Pin
</td>
<td class="form_details">
 {{=formA.custom.widget.pin}}
</td>

</tr>


</table>
<br/>
<header class="w3-container w3-light-grey ">
<h5>Clinic Registration</h5>
</header>

<table>
<tr>
<td class="form_details">
 State Dental Registration
</td>
<td class="form_details">
  {{=formA.custom.widget.state_dental_registration}}
</td>


<td class="form_details">
MDP Registration
</td>
<td class="form_details"  >
 {{=formA.custom.widget.mdp_registration}}
</td>



</tr>





</table>

<br/>
<header class="w3-container w3-light-grey ">
<h5>Clinic Social</h5>
</header>

<table>
<tr>
<td class="form_details">
  Web Site
</td>
<td class="form_details">
  {{=formA.custom.widget.website}}
</td>
<td class="form_details">
Location
</td>
<td class="form_details"  >
 {{=formA.custom.widget.gps_location}}
</td>




</tr>

<tr>
<td class="form_details">
Whats App
</td>
<td class="form_details"  >
 {{=formA.custom.widget.whatsapp}}
</td>
<td class="form_details">
  Facebook
</td>
<td class="form_details">
  {{=formA.custom.widget.facebook}}
</td>
<td class="form_details">
Twitter
</td>
<td class="form_details"  >
 {{=formA.custom.widget.twitter}}
</td>
</tr>



</table>
<br/>
<header class="w3-container w3-light-grey ">
<h5>Dental Details</h5>
</header>
<table>
<tr>
<td>Do you have auto-clave in clinic?</td>
<td>{{=formA.custom.widget.auto_clave}}</td>
<td>Do you have lead apron in your clinic for staff and patient radiation protection?</td>
<td>{{=formA.custom.widget.radiation_protection}}</td>
</tr>
<tr>
<td>Is implantology practiced at the clinic?</td>
<td>{{=formA.custom.widget.implantology}}</td>
<td>Do you use intra oral camera in your clinic?</td>
<td>{{=formA.custom.widget.intra_oral_camera}}</td>
</tr>
<tr>
<td>The waste disposal is done through which Agency</td>
<td>{{=formA.custom.widget.waste_displosal}}</td>

<td>Are your hand pieces autoclaved daily?</td>
<td>{{=formA.custom.widget.daily_autoclaved}}</td>
</tr>
<tr>
<td>Do you use packing material for  sterilizing the instruments</td>
<td>{{=formA.custom.widget.instrument_sterilization}}</td>

<td>Do you have RVG /OPG in your office?</td>
<td>{{=formA.custom.widget.RVG_OPG}}</td>
</tr>
<tr>
<td>Do you use rotary endodontics?</td>
<td>{{=formA.custom.widget.rotary_endodontics}}</td>

<td>Do you keep emergency drugs in your clinic?</td>
<td>{{=formA.custom.widget.emergency_drugs}}</td>
</tr>

<tr>
<td>What type of suction machine do you use in your operatory?</td>
<td>{{=formA.custom.widget.suction_machine}}</td>
<td>What type of laser do you use?</td>
<td>{{=formA.custom.widget.laser}}</td>

</tr>
<tr>
<td>Dental Chairs</td>
<td>{{=formA.custom.widget.dentalchairs}}</td>

</tr>

</table>

<br/>
<header class="w3-container w3-light-grey ">
<h5>Office Details</h5>
</header>
<table>
<tr>
<td>Do you take informed written consent from all your patients before starting the procedure?</td>
<td>{{=formA.custom.widget.patient_consent}}</td>
<td>How many number of cases seen in your clinic every day?</td>
<td>{{=formA.custom.widget.patient_traffic}}</td>
</tr>
<tr>
<td>Do you have a receptionist or front office in your clinic?</td>
<td>{{=formA.custom.widget.receptionist}}</td>
<td>Is your clinic air-conditioned?</td>
<td>{{=formA.custom.widget.air_conditioned}}</td>
</tr>
<tr>
<td>Do you have a toilet in your clinic?</td>
<td>{{=formA.custom.widget.toilet}}</td>

<td>Do you have parking facility?</td>
<td>{{=formA.custom.widget.parking_facility}}</td>
</tr>
<tr>
<td>Do you have power back up in your clinic?</td>
<td>{{=formA.custom.widget.backup_power}}</td>

<td>Do you have WIFI in your clinic?</td>
<td>{{=formA.custom.widget.internet}}</td>
</tr>
<tr>
<td>Do you accept credit cards or debit cards in your clinic?</td>
<td>{{=formA.custom.widget.credit_card}}</td>

<td>Do you maintain all patient's records?</td>
<td>{{=formA.custom.widget.patient_records}}</td>
</tr>

<tr>
<td>How many people can be seated in waiting area of your clinic?</td>
<td>{{=formA.custom.widget.waiting_area}}</td>
<td>How many computers or laptop  do you use in your clinic?</td>
<td>{{=formA.custom.widget.computers}}</td>

</tr>

<tr>
<td>Do you have water-filter?</td>
<td>{{=formA.custom.widget.water_filter}}</td>

</tr>

</table>

<header class="w3-container w3-light-grey ">
<h5>Notes</h5>
</header>
<table>
<tr>

<td class="form_details"  >
 {{=formA.custom.widget.notes}}
</td>
</tr>
</table>

{{=formA.custom.submit}}
<button class="form_details_button" onclick="window.location='{{=returnurl}}';return false">Return</button>&nbsp;&nbsp;
</div>


{{=formA.custom.end}}