{{extend 'enroll_layoutw3.html'}}




<div class="w3-row-padding w3-margin-bottom">
    <div class="w3-quarter">
      <div class="w3-container w3-red w3-padding-8"  style="height:185px">
        <div class="w3-clear" >
          <a href="{{=URL('enroll','member_update_profile',vars=dict(webmemberid=webmemberid))}}" class="w3-text-white"><h4>Member Profile</h4></a>           
        </div>
      </div>
    </div>

    <div class="w3-quarter" >
      <div class="w3-container w3-blue w3-padding-8" style="height:185px">
        <div class="w3-clear" >
          
        </div>
      </div>
    </div>
  
    <div class="w3-quarter">
      <div class="w3-container w3-teal w3-padding-8"  style="height:185px">
        <div class="w3-clear">

        </div>
      </div>
    </div>
      
    <div class="w3-quarter">
      <div class="w3-container w3-orange w3-text-white w3-padding-8" style="height:185px">
        <div class="w3-clear">

        </div>
      </div>
    </div>
</div>
  
<div class="w3-row-padding w3-margin-bottom">
    <div class="w3-quarter">
      <div class="w3-container w3-red w3-padding-8"  style="height:185px">
        <div class="w3-clear" >

        </div>
      </div>
    </div>

</div>


