{{extend 'mdp_layoutw3.html'}}

<div class="w3-container w3-padding-16">
<header class="w3-container w3-dark-grey ">
   <h4>{{=formheader}}</h4>
</header>
<tr>
<td>
<button class="form_details_button" onclick="window.location='{{=URL('customer','new_customer_dependant', vars=dict(page=page,customer_id=customer_id))}}';return false">Add Customer</button> 
</td>
</tr>
{{=formB}}
<input  type="button" class="form_details_button" onclick="window.location='{{=returnurl}}';return false" value="Return">
</div>
